.Flutter__button {
  padding: var(--size-8) var(--size-12);
  width: max-content;
  margin-inline: auto;
  border-radius: var(--size-4);
  border: none;
  background: rgb(156, 150, 150);
  color: white;
  cursor: pointer;
}

.Flutter__button:hover {
  transform: scale(1.04);
  background: #1fd900;
}
